body {
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flexbox;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
    font-weight: bold;
}

.list {
    margin-left: 25px;
}

.buttons {
    margin-left: 25px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: auto;
    border-radius: 100%;
    font-weight: bold;

}

.average-container {
    margin-left: 25px;
    font-size: 50px;
}