body {
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flexbox;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
    font-weight: bold;
}

.list {
    margin-left: 25px;
}

.buttons {
    margin-left: 25px;
}

button {
    font-size: 16pt;
    cursor: auto;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background: none;
    font-style: none;
    border: solid;
}

.average-container {
    margin-left: 25px;
    font-size: 50px;
}

.number-1 { color: darkred; }
.number-2 { color: red; }
.number-3 { color: orange; }
.number-4 { color: darkgreen; }
.number-5 { color: green; }